@import '~normalize.css';
@import url(https://fonts.googleapis.com/css?family=Yesteryear);
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c7e8ff;
}

.main {
  display: flex;
  flex-wrap: wrap;
  background-color: #4b71d2;
  width: 510px;
  height: 510px;
  border-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin: 5px 0px 5px 5px;
  overflow: auto;
}
.main .block {
  width: 33.333%;
  height: 33.333%;
  border: 1px solid white;
  cursor: pointer;
}

.menu_play {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #4b71d2;
  width: 150px;
  height: 507px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
}
.menu_play .player {
  display: flex;
  justify-content: center;
  width: 100px;
  background-color: #72afff;
  margin-bottom: 10px;
}
.menu_play .play_again {
  position: absolute;
  bottom: 20px;
  width: 140px;
  height: 50px;
  font-size: 20px;
  background-color: #72afff;
  color: white;
  border: 0;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}
.menu_play .play_again:hover {
  background-color: #cfe4ff;
  color: #373737;
}

.menu {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #dcdbdb;
  width: 600px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgb(108, 108, 108);
}
.menu .menu_text {
  font-size: 24px;
}
.menu .menu_chose {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.menu .menu_chose p {
  margin-right: 10px;
}
.menu .menu_chose input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  background-color: #dcdbdb;
  border-radius: 5px;
  width: 35px;
  height: 35px;
  font-size: 20px;
  padding: 0;
  cursor: pointer;
  transition: 0.3s;
}
.menu .menu_chose input:hover {
  background-color: #f3efef;
}

.none {
  display: none;
}